---

argument_specs:
  main:
    short_description: Main entry point for the {{ role_name }} role
    description:
      - This is the main entry point for the {{ role_name }} role.
      - {{ short_description }}
    author:
      - {{ author_name }}
    options:
      published_port:
        type: "int"
        required: false
        default: 8080
        description:
          - "The default port for the web server."
